{% extends 'layout.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card-body">
            <hr>
            <h2 class="text-center mb-4">Data Ulasan Aplikasi Polri Super App</h2>
            <hr>
            <div class="table-responsive">
                <table class="table table-hover table-bordered border-secondary" style="width: 100%">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">No</th>
                            <th scope="col" class="text-center">Username</th>
                            <th scope="col" class="text-center">Rating</th>
                            <th scope="col" class="text-center">Tanggal</th>
                            <th scope="col" class="text-center">Komentar</th>
                            <th scope="col" class="text-center">Sentimen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td class="text-center">{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            {% if row[5] == '1' %}
                            <td class="text-success">Positif</td>
                            {% elif row[5] == '0' %}
                            <td class="text-danger">Negatif</td>
                            {% else %}
                            <td class="text-muted">Netral</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ pagination.links }}
            </div>
        </div>
    </div>
</div>

{% endblock %}