{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card-body">
            <hr>
            <h2 class="text-center">ANALISIS SENTIMEN APLIKASI POLRI SUPER APP MENGGUNAKAN ALGORITMA RANDOM FOREST</h2>
            <p class="text-center">Vicky Fransisco | 32200065 | Universitas Bunda Mulia</p>
            <hr>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-6 d-flex justify-content-center align-items-center">
        <div class="card text-black p-3 shadow mb-3">
            <img src="/static/image/Logo-UBM-Universitas-Bunda-Mulia-Original.png" alt="Universitas Bunda Mulia" height="300px">
            <div class="text-center p-2">
                <hr>
                Universitas Bunda Mulia
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-6 d-flex justify-content-center align-items-center">
        <div class="card text-black p-3 shadow mb-3">
            <img src="/static/image/Logo Polri Super App.webp" alt="Polri Super App" height="300px">
            <div class="text-center p-2">
                <hr>
                Polri Super App
            </div>
        </div>
    </div>
</div>

{% endblock %}